body{
    margin: 0px;
}
header{
    width: 100vw;
    height: 30vh;
    background-color: gray;
}
div{
    width: 100vw;
    height: 70vh;
    display: flex;
}
section{
    width:70vw;
    height:70vh ;
    background-color: darkgrey;
}
aside{
    width:30vw;
    height:70vh ;
    background-color: dimgrey;
}
 @media screen and (max-width: 500px){
    header{
        height: 20vh;
    }
     div{
         flex-direction: column;
     }
   section{
       width:100vw;
   }
   aside{
       width:100vw;
   }
}