*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    margin: 0;
    background: #19191B;
    color: rgba(255, 255, 255, 0.70);
    font-family: Lato, sans-serif;
    font-size: 21px;
    font-weight: 400;
    line-height: 39px; /* 185.714% */
    letter-spacing: -0.657px;
    width: 100% ;

}

header {
    width: 100vw;
    height: 15vh;
    display: flex;
    justify-content: center;
    /*align-items: center;*/

}
.header-menu{
    width: 80vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
}



header a {
    text-decoration: none;
    margin: 10px;
    font-family: "Lato", sans-serif;
    color: rgba(255, 255, 255, 0.70);
    text-align: center;

}

.logo {

    display: flex;
    justify-content: center;
    align-items: center;
}

.montserrat {
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
}

h1 {
    color: #FFF;
    font-size: 28px;
    font-weight: 700;
    font-family: "Montserrat", sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
}

button {
    width: 157px;
    height: 44px;
    border-radius: 5px;
    border: 1px solid #FFF;
    background: #19191B;
    backdrop-filter: blur(1px);
    color: #FFF;
    text-align: center;
    font-size: 16px;
    letter-spacing: -0.5px;
    font-family: "Lato", sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;

}

main {
    width: 100vw;
    height: 75vh;
    background: #19191B;
    display: flex;
    justify-content: center;
    align-items: center;
}

.block {
    width: 80vw;
    height: 75vh;
    flex-shrink: 0;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.text {

    font-family: "Lato", sans-serif;
    font-weight: 400;
    display: flex;
    flex-direction: column;

}

h2 {
    width: 40%;
    color: #FFF;
    font-family: "Lato", sans-serif;
    font-size: 40px;
    font-weight: 400;
    margin: 0;


}

p {
    width: 40vw;
    color: rgba(255, 255, 255, 0.70);
    font-family: "Lato", sans-serif;
    font-size: 15px;
    font-weight: 400;
    line-height: 39px; /* 185.714% */
    letter-spacing: -0.657px;
}

.aside> img {
    width: 40vw;
    height: 16%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.but {
    width: 180px;
    height: 38px;
    border-radius: 4px;
    background: #5454D4;
    color: #FFF;
    font-family: "Lato", sans-serif;
    font-weight: 700;
}
