* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    margin: 0;
    background: #19191B;
    color: rgba(255, 255, 255, 0.70);
    font-family: Lato, sans-serif;
    font-size: 21px;
    font-weight: 400;
    line-height: 39px; /* 185.714% */
    letter-spacing: -0.657px;
    width: 100%;
    /*------------------------------------------page-one---------------------------------------------------------------*/
}

.page-one {
    width: 100vw;
    height: 100vh;
}

header {
    width: 100vw;
    height: 15vh;
    display: flex;
    justify-content: center;

}

.header-menu {
    width: 80vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {

    display: flex;
    justify-content: center;
    align-items: center;
}

.montserrat {
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
}

h1 {
    color: #FFF;
    font-size: 28px;
    font-weight: 700;
    font-family: "Montserrat", sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
}

header a {
    font-size: 18px;
    text-decoration: none;
    margin: 10px;
    font-family: "Lato", sans-serif;
    color: rgba(255, 255, 255, 0.70);
    text-align: center;

}

a:hover {
    color: #5454D4;

}

.first-page-button {
    width: 157px;
    height: 44px;
    background: #19191B;
    border-radius: 5px;
    border: 1px solid #FFF;
    backdrop-filter: blur(1px);
    color: #FFF;
    text-align: center;
    font-size: 16px;
    letter-spacing: -0.5px;
    font-family: "Lato", sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;

}

main {
    width: 100vw;
    height: 85vh;
    background: #19191B;
    display: flex;
    justify-content: center;
    align-items: center;
}

.block-one {
    width: 80vw;
    height: 75vh;
    flex-shrink: 0;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.text-content {
    height: 70vh;
    font-family: "Lato", sans-serif;
    font-weight: 400;
    display: flex;
    justify-content: space-between;
    flex-direction: column;

}

.text-content h2 {
    width: 582px;
    color: #FFF;
    font-family: Lato, sans-serif;
    font-size: 80px;
    font-weight: 400;
    line-height: 84px; /* 105% */


}

.text-content p {
    width: 536px;
    color: rgba(255, 255, 255, 0.70);
    font-family: Lato, sans-serif;
    font-size: 21px;
    font-weight: 400;
    line-height: 39px; /* 185.714% */
    letter-spacing: -0.657px;
}

.text-content button {
    width: 204px;
    height: 58px;
    flex-shrink: 0;
    border-radius: 4px;
    background: #5454D4;
    color: #FFF;
    font-family: Lato, sans-serif;
    font-size: 20px;
    font-weight: 700;
}

.aside > img {
    width: 40vw;
    height: 16%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.aside {
    display: flex;
    justify-content: center;
    align-items: center;
}

/*------------------------------------------page-two--------------------------------------------------------------*/

.page-two {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.video-info {
    width: 80vw;
    height: 15vh;
    margin-bottom: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.video-info h2 {
    width: 550px;
   height: 140px;
    color: #FFF;
    font-family: Lato, sans-serif;
    font-size: 60px;
    font-weight: 400;
    line-height: 70px;
}

.video-info p {
    width: 588px;
    height: 78px;
    color: rgba(255, 255, 255, 0.70);
    font-size: 21px;
    font-weight: 400;
    line-height: 39px; /* 185.714% */
    letter-spacing: -0.657px;
}

article img {
    width: 80vw;
    height: 75vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

/*----------------------------------------page-three------------------------------------------------------------*/

.page-three {
    width: 100vw;
    height: 100vh;



}
.title {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.title h2 {
    width: 695px;
    height: 140px;
    font-size: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.icon {
    width: 60vw;
    height: 60vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;

}

.icon img {
    width: 69px;
    height: 69px;
    display: flex;
    justify-content: center;
    align-items: center;

}

.icon h3 {
    width: 234px;
    height: 34px;
    letter-spacing: -0.75px;
    font-family: Lato, sans-serif;
    font-size: 28px;
    font-weight: 600;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.icon p {
    width: 299px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgba(255, 255, 255, 0.70);
    text-align: center;
    font-family: Lato, sans-serif;
    font-size: 20px;
    font-weight: 400;
    line-height: 28px; /* 140% */
    letter-spacing: -0.5px;
}

/*---------------------------------------------------four-page-------------------------------------------------*/

.four-page{
    width: 100vw;
}
.Portfolio h1 {
    font-family: Lato, sans-serif;
    font-size: 58px;
    font-weight: 800;
    display: flex;
    justify-content: flex-start;
    margin-left: 30px;
}
.section-four{
    width: 80vw;
    height: 60vh;
    display: flex;
    justify-content:space-between;
    align-items: center;
}
.section-four img {
    width: 336px;
    height: 253px;
    flex-shrink: 0;
    border-radius: 12px;
}

/*----------------------------------------------footer-------------------------------------------------*/
.footer {
    width: 100vw;
    height: 50vh;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.footer-text p {
    width: 826px;
    font-size: 60px;
}

.footer-button {
    width: 201px;
    height: 60px;
    flex-shrink: 0;
    border-radius: 5px;
    background: #5454D4;
    text-align: center;
    font-family: Lato, sans-serif;
    font-size: 21px;
    font-weight: 700;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #FFF;
}
