.main{
    width: 100vw;
    height: 100vh;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

}
.block-one{
    width: 30vw;
    height: 60vh;
    border: solid 1px gray;

}
img {
    width: 20vw;
    height: 15vh;
}
.photo {
    display: flex;
    justify-content: center;
    align-items: center;
}

.block-two{
    width: 30vw;
    height: 20vh;
    border: solid 1px gray;
}
input[type="text"]{
    width: 25vw;
    height: 5vh;
    border: solid 1px gray;
    border-radius: 3px;
    text-overflow: ellipsis;

}
.button{
    width: 25vw;
    height: 5vh;
    background-color: cornflowerblue;
    border: solid 1px cornflowerblue;
    border-radius: 3px;

}
.ikon{
<img src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAADAAAAAwCAYAAABXAvmHAAAACXBIWXMAAAsTAAALEwEAmpwYAAABUElEQVR4nO2ZzUrDQBDH82S7Vby1JTsoPpAieFBv0qMP4UyEQq03L4KWWh/Am4eASXupYEeiWL9o6W5jdgPzgzku+f/2m00UCYIgBE3DYKwArxTgRANxFaUAJwqor+KkvVZ4beiwqtB6URk8cO557+HhU4Ja1gLFtAlI4NJewODYe3CYV24tEEBo/l4ioEvoxc2dhI86Q767TznLpzyb8Q+CHoGN7YSvb554GTpkgePOcGn44AUGo5RrLZCPX/4E3ju55a3di5Xaexd4/b1imd/XxartvQvYThktAvA/vb6I52wa3gjYMBil9RY47z7WW+D07CE8AdmFQEaAZAppOYlJdiGWbRTkNspyEuu6XSVUyU+L6wlgZi8A1C/7QudcBnv2AnHS9h4cPqoB2IxcKH4u+A6vgPadwn9JUKt4n6/yuV0V3zLYc+55QRCEqCreAAESa+zxbT1rAAAAAElFTkSuQmCC">
}