.main {
    width: 100vw;
    height: 100vh;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;


}

.block-one {
    width: 30vw;
    height: 70vh;
    border: solid 1px gray;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;


}

img {
    width: 20vw;
    height: 15vh;

}

.photo {
    display: flex;
    justify-content: center;
    align-items: center;

}

.block-two {
    width: 30vw;
    height: 10vh;
    border: solid 1px gray;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 15px;
}

input[type="text"] {
    width: 25vw;
    height: 5vh;
    border: solid 1px gray;
    border-radius: 3px;
    text-overflow: ellipsis;

}

.button {
    width: 25vw;
    height: 5vh;
    color: white;
    background-color: cornflowerblue;
    border: solid 1px cornflowerblue;
    border-radius: 5px;
    margin-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;

}

.ikon {
    width: 20px;
    height: 20px;
    margin: 2px;

}

.article {
    margin-top: 10px;
}

.aside {
    margin-top: 10px;
}

.section {
    margin-top: 20px;
    color: gray;
}

.password {
    margin-bottom: 30px;


}

.block-three {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
}

a {
    text-decoration: none;
}


